
@font-face {
    font-family: 'old_london_alternateregular';
    src: url('oldlondonalternate-webfont.woff2') format('woff2'),
         url('oldlondonalternate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'georgecafe';
    src: url('Louis\ George\ Cafe\ Light.ttf'); format('ttf');
}